[Unit]
Description=PiHole
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
ExecStart=/home/ubuntu/pihole/daemon.sh podman up
ExecStop=/home/ubuntu/pihole/daemon.sh podman down

[Install]
WantedBy=local.target
